.home {
  background-color: #369cd9;
  color: white;
  width: 100%;
  .pictures {
    display: flex;
    flex-wrap: wrap;

    .picture-container {
      position: relative;
      width: 40vw;
      height: 30vw;
      margin: 4vw;

      img {
        width: 100%;
        height: 100%;
      }

      .link-container {
        display: none;

        a {
          display: block;
          text-align: center;
          background-color: rgb(199, 9, 9);
          color: white;
          padding: 1vw 2vw;
          border-radius: 5px;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }

    .picture-container:hover {
      img {
        position: relative;
        z-index: 1;
      }
      .link-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        z-index: 2;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: rgba(136, 120, 120, 0.3);
      }
    }
  }
}
