.nav {
  color: white;
  background-image: image-url("where-is-waldo.jpeg");
  background-size: contain;
  height: 40vw;
  display: flex;
  align-items: flex-end;

  h1 {
    font-size: 5vw;
    margin: 0 50vw 2vw;
    flex: 1 0 auto;
  }
}
