.picture {
  min-width: 100%;
  width: 1200px;
  .picture-nav {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #369cd9;
    a {
      background-color: white;
      color: #369cd9;
      font-size: 1.5rem;
      text-decoration: none;
      margin: 10px;
      padding: 5px;
      border-radius: 4px;
    }
  }
  .picture-container {
    position: relative;
    img {
      width: 100%;
    }
    .character-selector {
      display: flex;
      flex-direction: column;
      width: 80px;
      position: absolute;
      background-color: white;
      li {
        padding: 10px;
      }
    }
  }
}
